apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}
  labels:
{{ toYaml .Values.labels | indent 4 }}
spec:
  type: ClusterIP
  ports:
    - protocol: TCP
      port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
{{- if not .Values.rollout.enabled }}
  selector:
{{ toYaml .Values.labels | indent 4 }}
{{- end }}
